@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,500&display=swap'); 
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



:root{
    --yellow:#f9ca24;
}
.area{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding:0 ;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
.user::selection{
    background: var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.area{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.img1{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0;
    border: 0.5rem solid var(--yellow);
}
.name{
    font-size: 3.5rem;
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post{
    font-size: 2rem;
    color: aliceblue;
    margin-bottom: 5px;
}
.navbar{
    width: 100%;
}
.navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
.navbar ul li{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 5rem;

}
.navbar ul li:hover{
    background: var(--yellow);
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    font-family: 'Nunito', sans-serif;
}
.home h3{
    font-size: 2.5rem;
    color: rgb(218, 194, 212);
}
.home h1{
    font-size: 4rem;
    color: rgb(226, 226, 193);
}
.home h1 span{
    color: #f9ca24;
}
.home p{
    font-size: 1.7rem;
    color: aliceblue;
    padding: 0 1rem ;
    margin-top: 1rem;
}
.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0.5rem;
    font-size: 1.8rem;

}
.btn:hover{
    background: var(--yellow);

}
.about h1{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 0.7rem solid #fff4;
    color: #fff;
}
.about h1 span{
    color: #f9ca24;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem;
    padding-left: 6rem;
}
.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    color: #eee;
    padding: 0.5rem;
}
.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
.about .row .counter .box span{
    font-size: 3rem;
    color: var(--yellow);
}
.about .row .counter .box h3{
    font-size: 1.5rem;
    color:#fff;
}
.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.about .row .info h2{
    font-size: 3rem;
    color: rgb(245, 235, 182);
    padding-top: 2rem;
    padding-left: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 0.5rem solid rgb(207, 195, 22);

}
.about .row .counter{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
*{
    padding: 0;
    margin-top: 1px;
    font-family: poppins;
    color: #eee;
}

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 0%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills_head{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2{
    font-size: 35px;
    margin-bottom: 1px;
    margin-top: 1px;

}
.skills_head p{
    font-size: 15px;
    margin-top: 0.5px;
    margin-bottom: 5rem;
}
.skills_head h2 span{
    color: #f0ed4e;
}

.skills_main{
    width: 100%;
    display: grid;
    grid-row-gap: 30px;

}

.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    padding:  0 10%;
    font-size: 15px;
}

.skill_bar .info p:nth-child(2){
    font-weight: 500;
}

.skill_bar .bar{
    width: 60%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 20%;
    position: relative;
    margin-bottom: 0;
}

.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #c4bd5e;
    border-radius: 25px;
}





.skill_bar .bar .html{
    width: 80%;
    animation: html 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}



.skill_bar .bar .css{
    width: 75%;
    animation: css 2s;
}

@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}



.skill_bar .bar .js{
    width: 60%;
    animation: js 2s;
}

@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}


.skill_bar .bar .ajax{
    width: 70%;
    animation: ajax 2s;
}

@keyframes ajax {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}


.skill_bar .bar .json{
    width: 60%;
    animation: json 2s;

}

@keyframes json {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}



.skill_bar .bar .xampp{
    width: 50%;
    animation: xampp 2s;

}

@keyframes xampp {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}



.skill_bar .bar .bst{
    width: 70%;
    animation: bst 2s;
}

@keyframes bst {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}


.skill_bar .bar .WordPress{
    width: 60%;
    animation: wordpress 2s;

}

@keyframes wordpress {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}






.education .heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 0.7rem solid #fff4;
    color: #fff;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){

   .area{width: 25%;}
   .home{width: 75%;}

}

@media (max-width:991px){

   .area{width: 20%; }
   .home{width: 80%; }
   .about{width: 100%; }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    .area{
        width: 100%;
    }

    .home{
        left: 25%;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }